.padding-left-05rem {
    padding-left: 0.5rem;
}

.padding-right-05rem {
    padding-right: 0.5rem;
}

.margin-auto {
    margin: auto;
}

.margin-1rem {
    margin: 1rem;
}

.float-right {
    float: right;
}

.book {
    width: 15rem;
    margin: auto;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.google-button__icon {
    display: inline-block;
    vertical-align: baseline !important;
    margin: auto;
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}