.padding-left-05rem {
    padding-left: 0.5rem;
}

.padding-right-05rem {
    padding-right: 0.5rem;
}

.margin-left-05rem {
    margin-left: 0.5rem;
}

.margin-auto {
    margin: auto;
}

.margin-1rem-auto {
    margin: 1rem auto;
}

.margin-1rem {
    margin: 1rem;
}

.float-right {
    float: right;
}

.book {
    width: 13rem;
    margin: auto;
}

.word-break {
    word-break: break-all;
}

.error-page {
    text-align: center;
    margin: 1rem auto;
    width: 25rem;
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.google-button__icon {
    display: inline-block;
    vertical-align: baseline !important;
    margin: auto;
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}